<!DOCTYPE html>
<html>
  {% include header_module_v1.html %} {% include VariableInit_module_v1.html %}

  <body>
    {% include top_bar_module_v1.html %} {% include Breadcrumb_module_v2.html %}

    <main class="container-sm">
      {{ content }}

      <hr />

      <script
        src="{{site.comment_settings.src}}"
        repo="{{site.github_repo}}"
        issue-term="{{site.comment_settings.issue-term}}"
        theme="{{site.comment_settings.theme}}"
        label="{{site.comment_settings.label}}"
        crossorigin="{{site.comment_settings.crossorigin}}"
        async
      ></script>
    </main>
  </body>

  {% include footer_module_v1.html %}
</html>
