<!DOCTYPE html>
<html>
{% include header_module_v1.html %}
{% include VariableInit_module_v1.html %}

<body>
  {% include top_bar_module_v1.html %}
  {% include Breadcrumb_module_v1.html %}

  <main class="container-sm">

    <div class="mb-3">
      <span class="fs-3" style="color: #A6341B;">{{page.title}}</span>
      <br />
      <span class="fs-6 opacity-75 text-secondary">
        <i class="fas fa-clock text-info"></i>
        {{page.date | date: "%Y-%m-%d %H:%M:%S"}}
      </span>
    </div>

    {{ content }}

    <script src="{{site.comment_settings.src}}" repo="{{site.github_repo}}"
      issue-term="{{site.comment_settings.issue-term}}" theme="{{site.comment_settings.theme}}"
      label="{{site.comment_settings.label}}" crossorigin="{{site.comment_settings.crossorigin}}" async></script>
  </main>
</body>

{% include footer_module_v1.html %}

</html>