{% include VariableInit_module_v1.html %}

<head>
  <meta charset="utf-8">
  <title>
    JYU Blog - {{ page.title }}
  </title>
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>

  <!-- 針對是否為Production Mode對應特定Js套件來源引入 -->
  <!-- {% if isRunProductionMode %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.29/vue.global.prod.min.js"
    integrity="sha512-NZwTAzVi1EAKCNv0XBX0j3+4UyjSlMjYSrfZw9l8Vi+oSCMUWhnadIBcqbODVuird9fAsl5fx6ysQT2lGxsQjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {% else %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.29/vue.global.min.js"
    integrity="sha512-BKH/vuoIj9yh4H5iLWbO+zg7Q+UzDIzzqLpShKFmMhlB148D0sus7B4nbtSrBwfytfpydaxFT+07Hpc7Kncl2w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {% endif %} -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/MainStyles.css' | prepend: site.baseurl }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
</head>