<div class="d-flex flex-row bd-highlight mb-2 mt-3 justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">

            <!-- 往回前一頁指標設置區塊 -->
            {% if paginator.previous_page %}

            <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path }}">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>

            <!-- 未有往回前一頁情況 -->
            {% else %}

            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>

            {% endif %}
           
            <!-- 產生頁面頁碼區塊 -->
            {% if paginator.total_pages > 1 %}

            <!-- 讀取頁面頁碼集合 -->
            {% for page in (1..paginator.total_pages) %}

            <!-- 如果為當前頁碼設置不啟用該區塊功能，僅單純呈現 -->
            {% if page == paginator.page %}

            <li class="page-item disabled">
                <a class="page-link bg-primary text-light" href="#">{{page}}</a>
            </li>

            <!-- 當頁碼為第一個時，該頁碼連結設置為根位置 -->
            {% elsif page == 1 %}

            <li class="page-item">
                <a class="page-link" href="{{ '/' | relative_url }}">{{page}}</a>
            </li>

            <!-- 非第一個頁碼與非當前頁碼，設置連結內容為該頁碼位置 -->
            {% else %}

            <!-- 只有一個頁面情況 -->
            <li class="page-item">
                <!-- 取分頁預設位置內容(/page:num/)，並將':num'取代為當前頁碼 -->
                <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{page}}</a>
            </li>

            {% endif %}

            {% endfor %}

            <!-- 頁面頁碼只有一個 -->
            {% else %}

            <!-- 頁面頁碼只有一個時，該頁碼連結設置為根位置 -->
            <li class="page-item disabled">
                <a class="page-link" href="{{ '/' | relative_url }}">1</a>
            </li>

            {% endif %}

            <!-- 往後前一頁指標設置區塊 -->
            {% if paginator.next_page %}

            <li class="page-item">
                <a class="page-link" href="{{ paginator.next_page_path }}">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>

            <!-- 未有往後前一頁情況 -->
            {% else %}

            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>

            {% endif %}
        </ul>
    </nav>
</div>