<!-- 取得當前頁面配置參數'maintag' -->
{% assign currentTag = page.maintag | downcase %}

<!-- 取得網站所有tag標籤 -->
{% assign siteTagEntitys = site.tags %}

<div class="row">

<div class="col-md-10">

<!-- 顯示所屬當前文章分類下文章 -->
<div class="list-group">

    <!-- 讀取屬於該分類下文章列表 -->
    {% for post in siteTagEntitys[currentTag] %}

    {% assign isMainTag = true %}

    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" href="{{site.baseurl}}{{ post.url }}"
        aria-current="true">

        <span>
            <i class="fas fa-book py-3 fs-4 text-secondary"></i>
        </span>

        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <span class="mb-0 fs-6">{{ post.title }}</span>

                <br />

                <!-- 新增日期時間 -->
                <small class="opacity-75 text-nowrap">
                    <i class="fas fa-clock text-info"></i>
                    {{ post.date | date: "%Y-%m-%d " }}
                </small>

                <br />

                <!-- 讀取文章內分類標籤 -->
                {% for category in post.categories %}

                <!-- 是否對應主Tag -->
                {% if isMainTag %}

                <span
                    class="mt-0 badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">
                    {{ category }}
                </span>

                {% assign isMainTag = false %}

                <!-- 非對應主Tag，屬於細項分類 -->
                {% else %}

                <span class="mt-0 badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill">
                    {{ category }}
                </span>

                {% endif %}

                {% endfor %}

            </div>

        </div>
    </a>

    {% endfor %}

</div>

</div>

<div class="col-md-2">
    <!-- 引入Category 區塊模組 -->
    {% include CategoryBlock_v2.html %}
</div>

</div>