---
layout: Article/pagination
title: Articles
---

{% include Breadcrumb_module_v1.html %}

<div class="list-group">
    {% for post in paginator.posts %}
    <a href="{{site.baseurl}}{{ post.url }}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true">
        <span>
            <i class="fas fa-book-open py-3 fs-2 text-primary"></i>
        </span>

        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <span class="mb-0 fs-3">{{ post.title }}</span>
                <span class="text-muted fs-6">{{post.excerpt}}</span>
            </div>

            <small class="opacity-75 text-nowrap">
                <i class="fas fa-clock text-info"></i>
                {{ post.date | date: "%Y-%m-%d %H:%M:%S" }}
            </small>
        </div>
    </a>
    {% endfor %}
</div>

<div class="d-flex flex-row bd-highlight mb-3 mt-3 justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if paginator.previous_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}

            {% for page in paginator.total_pages %}
            <li class="page-item"><a class="page-link" href="#">{{page}}}</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
            {% endfor %}

            {% if paginator.next_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Next</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>